#registrousuario{
    background:  transparent url("imagen/vg.jpeg") no-repeat scroll left bottom;
    border: medium none;
    color: #990033;
    height: 775px;
    width: 515px;
    padding: 0 0 0 50px;
    margin: 0 auto;

    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
}
#registrousuario legend{
    background: transparent url("imagen/pra2.jpeg") no-repeat scroll left top;
    color: #6633CC;
    font-family: arial;
    font-size: 21px;
    letter-spacing: -1px;
    padding-top: 8px;
    padding-bottom: 20px;
    text-transform: capitalize;

    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
#registrousuario input.texto{
    background: #ffffff url("imagen/pra3.jpg")no-repeat scroll top;
    border: medium none !important;
    color: #666666;
    font-family: arial, sans-serif;
    font-size: 12px;
    letter-spacing: -1px;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    height: 24px;
    width: 454px;

    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
#registrousuario label{
    display: block;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 10px 0 3px;
}

#registrousuario textarea.areadetexto{
    background: #ffffff url("imagen/pra3.jpg") no-repeat scroll top left;
    color: #666666;
    font-family: arial, sans-serif;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    height: 212px;
    width: 454px;
    border: none !important;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
#registrousuario input.botonenviar{
    background: transparent url(imagen/ENVIAR.jpg) no-repeat scroll left top;
    color: #ffffff;
    display: block;
    float: left;
    font-family: arial, sans-serif;
    font-size: 12px;
    text-align: center;
    height: 20px;
    width: 70px;
    margin-left: 350px;
    margin-top: 10px;
    border: none !important;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

